<div>
    <h2>Update User</h2>
  
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <!-- <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" >
      </div> -->
  
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstname" required>
      </div>
  
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastname" required>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
      </div>
  
      <!-- <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
      </div>
   -->
      <div class="mb-3">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]="phonenumber">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Update</button>
    </form>
  </div>
  
